<header>
  <div class="buttons-header-nav">
    <a class="btn-header-nav" routerLink=""><small>Homepage</small></a>

    <a class="btn-header-nav" routerLink="login" *ngIf="!authService.isAuthenticated"><small>Login</small></a>
    <a class="btn-header-nav" *ngIf="!authService.isAuthenticated"><small>Register</small></a>
    <a class="btn-header-nav-profile" *ngIf="authService.isAuthenticated" routerLink="profile"><small>My Profile</small></a>
    <a class="btn-header-nav-logout" *ngIf="authService.isAuthenticated" (click) = "signOut()"><small>Sign out</small></a>
  </div>
</header>
<div></div>
<router-outlet>
</router-outlet>